<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">

<th:block layout:fragment="content">
    <form method="post" th:action="@{/project/create}" th:object="${form}">
        <div class="container">
            <div class="form-group">
                <label th:for="title">Title</label>
                <input type="text" th:field="*{title}">
            </div>
            <div class="form-group">
                <label th:for="content">Content</label>
                <input type="text" th:field="*{content}">
            </div>
            <div class="form-group">
                <label th:for="purposePrice">PurposePrice</label>
                <input type="number" th:field="*{purposePrice}">
            </div>
            <div class="form-group">
                <label th:for="price">Price</label>
                <input type="number" th:field="*{price}" placeholder="가격">
            </div>
            <div class="form-group">
                <label th:for="periodStart">Start</label>
                <input type="date" th:field="*{periodStart}">
            </div>
            <div class="form-group">
                <label th:for="periodEnd">End</label>
                <input type="date" th:field="*{periodEnd}">
            </div>
            <div class="form-group">
                <label th:for="tag">Tag</label>
                <input type="text" name="tag" id="tag">
                <button type="button" class="btn btn-primary" id="add_tag">추가</button>
                <div th:id="tag_list" th:name="tag_list"></div>
            </div>

            <button type="submit">제출</button>
        </div>
    </form>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        $("#add_tag").on('click',function (){
           $('#tag_list').append(`<input type="text" name="tagsList" value="${$('#tag').val()}"/>`);
            $('#tag').val('');
        });
    </script>
</th:block>

