<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>시작날짜</th>
            <th>종료날짜</th>
            <th>가격</th>
            <th>목표가격</th>
            <th>등록날짜</th>
            <th>시작여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${projectStat.count}"></td>
            <td><a th:href="@{/project/detail(id=${project.id})}" th:text="${project.title}"></a></td>
            <td th:text="${project.periodStart}"></td>
            <td th:text="${project.periodEnd}"></td>
            <td th:text="${project.price}"></td>
            <td th:text="${project.purposePrice}"></td>
            <td th:text="${#temporals.format(project.createdDate, 'yyyy-MM-dd, HH:mm')}"></td>
            <td th:if="${project.getIsStart() == true}">시작함 구매가능</td>
            <td th:if="${project.getIsStart() == false}">시작전 구매불가</td>
            <td th:if="${project.getIsStart() == null}">종료</td>

        </tr>
        </tbody>
    </table>
    </div>
</th:block>