<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
</head>
<div class="container" th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"/>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary" th:href="@{/}">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a sec:authorize="isAnonymous()" type="button" class="btn btn-outline-primary me-2"
               th:href="@{/account/signin}">Sign-in</a>
            <a sec:authorize="isAnonymous()" class="btn btn-primary" th:href="@{/account/signup}">Sign-up</a>
            <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/account/signout}">Sign-Out</a>
        </div>
    </header>
</div>